In [1]:
import os
import h5py
import pandas as pd

In [7]:
# Box plots from one music

with h5py.File('../../dataset/A/A/A/TRAAAAW128F429D538.h5') as hf:
      bars_confidence = pd.DataFrame(hf['analysis']['bars_confidence'][:])

bars_confidence

        0
0   0.643
1   0.746
2   0.722
3   0.095
4   0.091
..    ...
78  0.000
79  0.000
80  0.000
81  0.000
82  0.000

[83 rows x 1 columns]